/* colors */
:root{
    --gold:#ffd700;
    --navy-blue:#00008b;
    --dark-red:#8B0000;
    --offwhite:#f5f5f5;
}

body{
    background-color: var(--offwhite);
    font-family: Sans-Serif;
}

/* a */
a{
    text-decoration:none;
}

a:link{
    color:var(--dark-red)
}

a:visited{
    color:var(--dark-red)
}

a:hover{
    color:var(--navy-blue)
}

a:active{
    color:var(--offwhite)
}

/* header */
.header{
    display:flex;
    flex-direction: column;
    /* margin:2vw; */
    margin-bottom:4vw;
    text-align: center;
    border-style: solid;
    border-width:4px;
    border-color:var(--navy-blue);
    background-color:var(--gold) ;
}

.htop{
    background-color: var(--navy-blue);
    color:var(--gold);
    font-size:xx-large;
    margin:1vw;
}

.hbottom{
    display:flex;
    flex-wrap:wrap;
    background-color: var(--gold);
    justify-content: space-around;
    padding:8px;
    text-align: center;
    font-size:max(2vw, 20px);
}

.hbottom a{
    margin:2vw;
}

/* footer */
.footer{
    padding:16px;
    display:flex;
    flex-direction: column;
    /* margin-left:2vw;
    margin-right:2vw; */
    margin-top:2vw;
    text-align: center;
    border-style: solid;
    border-width:4px;
    border-color:var(--navy-blue);
    background-color:var(--gold) ;
}

/* home page */

.title{
    text-align:center;
    font-size:max(4vw, 42px);
}

.home-tile{
    display:flex;
    flex-wrap:wrap-reverse;/* 
    align-items: center; */
    justify-content:center;
}

.home-tile-right{
    display:flex;
    flex-wrap:wrap;/* 
    align-items: center; */
    justify-content:center;
    margin-top:32px;
    margin-bottom:32px;
}

.home-tile-text{
    display: flex;
    flex-direction: column;
    margin:2vw;
    max-width:640px;/* 
    align-self:center; */
}

/* generic*/

p{
    text-align:justify;
}

img{
    min-width:120px;
    max-width:550px;
    height:100%;
    border-style:solid;
    border-width:4px;
    border-color:var(--navy-blue);
}

body{
    padding:2vw;
}

hr{
    margin:32px;
}